services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: Restaurant
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 30s
      timeout: 10s
      retries: 3

  dotnetapi:
    build:
      context: ./Restaurant-Backend
      dockerfile: Dockerfile
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "4332:4332"  
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: http://+:4332 
      ConnectionStrings__DefaultConnection: "Host=postgres;Port=5432;Database=Restaurant;Username=postgres;Password=admin"
    restart: unless-stopped

  frontend:
    build:
      context: ./restaurant-client
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=http://localhost:4332/api
    depends_on:
      - dotnetapi


volumes:
  pgdata: